@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background-color: black;
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 15px auto;
}
.team-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 60px;
  margin: 15px auto;
}
.our-team {
  text-align: center;
  position: relative;
  width: 240px;
 height: 360px;
  margin: 20px;
}

 .our-team img {
   width: 800%;
 }
.our-team .team-content .name {
  font-size: 18px;
  font-weight: 800;
  display: block;
  margin-bottom: 7px;
}
.our-team .team-content .post {
  font-size: 12px;
  display: block;
}
.team-content {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 360px;
  margin: 40px auto;
}
.social a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons,
.contact-icons {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px;
  display: inline;
}
.social-icons:hover {
  transform: scale(1.5);
  color: gold;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.forgPass:hover{
color: rgb(50, 93, 167);
}